@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap'); /** Google font import */

* {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
  overflow-x: hidden;
}